<h2>My devices
<button class="btn btn-success" (click)="onSwitchOnAll()">Switch on all devices</button>
&nbsp;
<button class="btn btn-danger" (click)="onSwitchOffAll()">Switch off all devices</button>
&nbsp;
<button class="btn btn-info" (click)="onSave()">Save all devices</button>
&nbsp;
<button class="btn btn-info" (click)="onFetch()">Refresh list</button>
</h2>

<ul class="list-group">
  <ul class="list-group">
    <app-device *ngFor="let device of devices; let i = index" 
              [name]="device.name" 
              [status]="device.status" 
              [index]="i" 
              [id]="device.id">
    </app-device>
  </ul>
</ul>