<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="auth">Authentication</a></li>
        <li routerLinkActive="active"><a routerLink="devices">Devices</a></li>
        <li routerLinkActive="active"><a routerLink="edit">New device</a></li>
        <li routerLinkActive="active"><a routerLink="users">Users</a></li>
      </ul>
      <div class="navbar-right">
        <!-- <p>You are connected since {{ seconds }} seconds !</p> -->
        <p>{{ currentDateTime | date: 'EEEE, MMM d'}}</p>
      </div>
    </div>
  </div>
</nav>
<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>