<ul class="list-group">
  <app-user-item *ngFor="let user of users" 
                [user]="user">
  </app-user-item>
  <br>
  <button routerLink="/new-user" class="btn btn-primary">New user</button>
</ul>