<li class="list-group-item">
  <div class="row">
    <h4 class="col-xs-8">
      {{ user.firstName }} {{ user.lastName }}
    </h4>
    <h4 class="col-xs-4" style="text-align: right; vertical-align: middle">
      {{ user.email }}
    </h4>
  </div>
  <p>This person prefers {{ user.drinkPreference }}</p>
  <div *ngIf="user.hobbies && user.hobbies.length > 0">
    <p>
      This person has hobbies
    </p>
    <ul>
      <li style="list-style-type:disc" *ngFor="let hobby of user.hobbies">
        {{ hobby }}
      </li>
    </ul>
  </div>
</li>